@custom-media --minTabletWidth (min-width: 768px);
@custom-media --minDesktopWidth (min-width: 1440px);


.header {
    display: flex;
    justify-content: space-between;
}

.header__heading {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--headerFontColor);
}

.header__button {
    border-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--bodyColor);
}

.header__lightMode,
.header__darkMode {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4615;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: var(--toggleModeFontColor);

    @media (--minTabletWidth) {
        margin: 4px 0 0 0;

    }
}

.header__toggleIcon {
    margin: 0 0 0 16px;
    fill: var(--toggleModeFontColor);
}

@media (hover: hover) {
    .header__button:hover {
        cursor: pointer;
    }

    .header__button:hover li {
        color: var(--toggleModeFontColorHover);
    }

    .header__button:hover path {
        fill: var(--toggleModeFontColorHover);
    }
}