@custom-media --minTabletWidth (min-width: 768px);
@custom-media --minDesktopWidth (min-width: 1440px);




.search__wrapper {
    position: relative;
    width: 327px;
    height: 60px;
    border-radius: 15px;
    margin: 36px 0 0 0;
    background-color: var(--searchBGColor);

    @media (--minTabletWidth) {
        width: 573px;
        height: 69px;
    }

    @media (--minDesktopWidth) {
        width: 730px;
    }
}

.search__bar {
    display: flex;
    align-items: center;
}

.search__icon {
    width: 20.05px;
    height: 20px;
    margin: 0 0 0 16px;

    @media (--minTabletWidth) {
        margin: 0 0 0 32px;
    }
}

.search__inputField {
    width: 184px;
    font-size: 13px;
    font-weight: 400;
    color: var(--searchInputFontColor);
    line-height: 1.3888;
    margin: 0 0 0 8.95px;
    border-style: none;

    @media (--minTabletWidth) {
        font-size: 18px;
        margin: 0 0 0 23.94px;
    }
}

.search__errorMessage {
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.4813;
    color: #F74646;
    margin: 0;

    @media (--minTabletWidth) {
        right: calc(0% + 130px);
        bottom: 50%;
    }
}

.search__button {
    width: 84px;
    height: 46px;
    border-style: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.48125;
    color: white;
    background-color: #0079FF;
    margin: 6.5px 7px 0 auto;
    padding: 12.5px 16px 12.5px 16px;

    @media (--minTabletWidth) {
        width: 106px;
        height: 50px;
        font-size: 16px;
        margin: 9.5px 10px 0 auto;
        padding: 12.5px 23px 13.5px 24px;
    }
}